<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
    <title>Calculadora</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    
    <!--FONT -->
    <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
</head>
<body>
    <div class="">
        <form class="form-ejercicios">
            <div id="espacioregresar">   
                <a href="../index.html" id="botonregresar"><i class="fa-solid fa-chevron-left" id="iconoregresar"></i></a>
            </div>
            <div class="form">
                <h1>Calculadora</h1>
                <div class="grupo">
                    <input type="number" class="" id="num1" required><span class="barra"></span>
                    <label for="num1" class="">Ingrese un número</label>
                </div>
                <div class="grupo">
                    <input type="number" class="" id="num2" required><span class="barra"></span>
                    <label for="num2" class="">Ingrese otro número</label>
                </div>
                <div class=" grupo">
                    <select class="grupo" id="operacion" style="margin-left: 0;" required><span class="barra"></span>
                        <option selected>Seleccione una operación</option>
                        <option value="1">Suma</option>
                        <option value="2">Resta</option>
                        <option value="3">Multiplicación</option>
                        <option value="4">División</option>
                    </select>
                </div><div id="form">
      
            </div> 
                <button type="submit" class="submit" id="submit">Respuesta</button>
            </div>
            
            
        </form>
    </div>

    <script src="../js/calculadora.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>