<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
    <title>Profesores</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <!--FONT -->
    <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
</head>
<body>
    <div class="">
        <form class="form-ejercicios" >
            
            <div class="form">
                <div id="espacioregresar">   
                    <a href="../index.html" id="botonregresar"><i class="fa-solid fa-chevron-left" id="iconoregresar"></i></a>
                </div>
                <h1>Profesores</h1>
                <div class=" grupo">
                    <select class="grupo" id="nombre" style="margin-left: 0;" required><span class="barra"></span>
                        <option selected>Seleccione el nombre del profesor</option>
                        <option value="1">Yaneth </option>
                        <option value="2">Carolina </option>
                        <option value="3">Adriana </option>
                        <option value="4">Jennifer </option>
                        <option value="5 ">Sandra </option>
                        <option value="6">Andrea  </option>
                        <option value="7">Cristian  </option>
                    </select>
                </div>
                <div class=" grupo" >
                    <select class="grupo" id="apellido" style="margin-left: 0;" required><span class="barra"></span>
                        <option selected>Seleccione el apellido del profesor</option>
                        <option value="1">Castillo</option>
                        <option value="2">Forero</option>
                        <option value="3">Duarte</option>
                        <option value="4">Fajardo</option>
                        <option value="5">Rueda </option>
                        <option value="6">Ramos </option>
                        <option value="7">Buitrago </option>
                    </select>
                </div>
                <div class=" grupo">
                    <select class="grupo" id="actividad" style="margin-left: 0;" required><span class="barra"></span>
                        <option selected>Seleccione la actividad del profesor</option>
                        <option value="1">Gestion Ambiental</option>
                        <option value="2">Seguimiento del proyecto</option>
                        <option value="3">Diseño FrontEnd</option>
                        <option value="4">Javascript </option>
                        <option value="5">bases de datos </option>
                        <option value="6">Promover</option>
                        <option value="7">Php</option>
                    </select>
                </div>
                <div id="form">
             
                </div> 
                    <button type="submit" class="submit" id="submit">¿Coincide?</button>
                </div>
            </div>
        </form>
    </div>
        
    </div>
    <script src="../js/profesores.js"></script>

    <style>
        @import url('http://fonts.cdnfonts.com/css/product-sans');
    </style>
</body>
</html>