<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
    <title>Tipos de Triangulos</title>
    <!--FONT -->
    <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
</head>
<body>
    <div class="" style="width: 27%;">
        <form class="form-ejercicios">
            <div id="espacioregresar">   
                <a href="../index.html" id="botonregresar"><i class="fa-solid fa-chevron-left" id="iconoregresar"></i></a>
            </div>
            <div class="form">
                <h1>Tipos de Triángulos</h1>
                <div class="grupo">
                    <input type="number" class="" id="lado1" required><span class="barra"></span>
                    <label for="lado1" class="">Ingrese el valor del lado</label>
                </div>
                <div class="grupo">
                    <input type="number" class="" id="lado2" required><span class="barra"></span>
                    <label for="lado2" class="">Ingrese el valor del lado</label>
                </div>
                <div class="grupo">
                    <input type="number" class="" id="lado3" required><span class="barra"></span>
                    <label for="lado3" class="">Ingrese el valor del lado</label>
                </div>
                <div id="form">
             
            </div> 
                <button type="submit" class="submit" id="submit" onclick="triangular()">Respuesta</button>
            </div>
            
            
            
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/triangulos.js"></script>
    <style>
        @import url('http://fonts.cdnfonts.com/css/product-sans');
    </style>
</body>
</html>