<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
    <title>Validación</title>
    <link rel="stylesheet" href="../css/validacion.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/print.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FONT -->
    <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
</head>
<body>
    <div class="frm-container">
        
        <form class="frm-usuario" id="frm-usuario">
            <div class="form">
                <div class="title">
                      
                    <a href="../index.html" id="botonregresar"><i class="fa-solid fa-chevron-left" id="iconoregresar"></i></a>
                
                <h1>Formulario de validaciones</h1>
                </div>
                <div class="form-group grupo" id="g-tipdoc">
                    <div class="form-group-input">
                        <select class="frm-input" id="tipdoc" name="tipdoc" ><span class="barra"></span>
                            <option selected>Típo de documento</option>
                            <option value="1">Cédula de ciudadania</option>
                            <option value="2">Tarjeta de identidad</option>
                            <option value="3">Cédula extranjera</option>
                            <option value="4">Pasaporte</option>
                        </select>
                        <label for="tipdoc">Típo de documento</label>
                        <span class="msn-error">No eligió correctamente</span>
                    </div>
                </div>
                <div class="form-group grupo" id="g-numdoc"><!--Class="grupo" Para todos css-->
                    <div class="form-group-input">
                        <input type="text" class="frm-input" name="numdoc" id="numdoc" ><span class="barra"></span>
                        <label for="numdoc">Número de documento</label>
                        <i class="fa-solid fa-check frm-icono"></i>
                        <span class="msn-error">Mínimo 7 números, máximo 10 números</span>
                    </div>
                </div>
                <div class="form-group grupo" id="g-nombre"><!--Class="grupo" Para todos css-->
                    <div class="form-group-input">
                        <input type="text" class="frm-input" name="nombre" id="nombre" ><span class="barra"></span>
                        <label for="nombre">Nombre</label>
                        <i class="fa-solid fa-check frm-icono"></i>
                        <span class="msn-error">Solo puedes ingresar letras, máximo 40 carácteres</span>
                    </div>
                </div>
                <div class="form-group grupo" id="g-apellido"><!--Class="grupo" Para todos css-->
                    <div class="form-group-input">
                        <input type="text" class="frm-input" name="apellido" id="apellido" ><span class="barra"></span>
                        <label for="apellido">Apellido</label>
                        <i class="fa-solid fa-check frm-icono"></i>
                        <span class="msn-error">Solo puedes ingresar letras, máximo 40 carácteres</span>
                    </div>
                </div>
                <div class="form-group grupo" id="g-telefono"><!--Class="grupo" Para todos css-->
                    <div class="form-group-input">
                        <input type="text" class="frm-input" name="telefono" id="telefono" ><span class="barra"></span>
                        <label for="telefono">Telefono</label>
                        <i class="fa-solid fa-check frm-icono"></i>
                        <span class="msn-error">Mínimo 7 números, máximo 10 números</span>
                    </div>
                </div>
                <div class="form-group grupo" id="g-nacimiento"><!--Class="grupo" Para todos css-->
                    <div class="form-group-input">
                        <input type="date" class="frm-input" id="nacimiento" name="nacimiento" ><span class="barra"></span>
                        <!--<label for="nacimiento">Fecha de nacimiento</label>-->
                        <div class="msn-error">Se debe seleccionar una fecha valida</div>
                    </div>
                </div>
                <div class="form-group grupo" id="g-email"><!--Class="grupo" Para todos css-->
                    <div class="form-group-input">
                        <input type="email" class="frm-input" id="email"  name="email" ><span class="barra"></span>
                        <label for="email">Correo Electronico</label>
                        <i class="fa-solid fa-check frm-icono"></i>
                        <span class="msn-error">Correo electrónico digitado incorrectamente</span>
                    </div>
                </div>
                <div class="form-group grupo" id="g-password">
                    <div class="form-group-input">
                        <input type="password" name="password" id="password" class="frm-input" ><span class="barra"></span>
                        <label for="password" class="">Contraseña</label>
                        <i class="fa-solid fa-check frm-icono icono-pass"></i>
                        <div class="msn-error">Tu password debe incluir mínimo 8 caracteres, 1 mayuscula, 1 número y 1 caracter especial</div>
                    </div>
                </div>
                <div class="form-group grupo" id="g-password2">
                    <div class="form-group-input">
                        <input type="password" name="password2" id="password2" class="frm-input" ><span class="barra"></span>
                        <label for="password" class="">Confirmar Contraseña</label>
                        <i class="fa-solid fa-check frm-icono icono-pass"></i>
                        <div class="msn-error">La confirmación de la Contraseña no coincide</div>
                    </div>
                </div>
                <div class="form-group" id="g-terminos">
                    <div class="form-group-input">
                        <input type="checkbox" name="terminos" class="frm-checkbox" id="terminos" >
                        <p for=""><a href="" id="abrirModal" >Aceptar términos de uso</a></p>
                    </div>
                </div>
                <div class="msn-error" id="msn-error">
                    <p><i class="fa-solid fa-circle-exclamation"></i><b>Error:</b>Por favor rellenar todo el formulario</p>
                </div>
                <button type="submit" class="btn-enviar" id="submit">Enviar</button>
                
                

                <div id="g-s" style="display: none;">
                    <i class="fa-solid fa-check frm-icono icono-pass">Formulario enviado exitosamente</i>
                </div class="form-group grupo">
            </div>
        </form>
        <div id=""></p>
        <div id="ventanaModal" class="modal" style="padding-top: 50px; padding-bottom: 50px;left: 0;">
            <div class="contenidoModal">
                <span class="cerrarModal"><i class="fa-solid fa-xmark"></i></span>
                <h2>Terminos de uso</h2>
                <p>Google puede modificar estas condiciones o las condiciones adicionales que se 
                    apliquen a un Servicio para, por ejemplo, reflejar cambios legislativos o en 
                    los Servicios. Te recomendamos que consultes las condiciones de forma periódica.
                    Google publicará avisos relacionados con las modificaciones de estas 
                    condiciones en esta página. Asimismo, publicará avisos relacionados con las 
                    modificaciones que se hagan en las condiciones adicionales del Servicio 
                    correspondiente. Las modificaciones no se aplicarán con carácter retroactivo y
                    entrarán en vigor en un plazo no inferior a 14 días a partir de la fecha de su
                    publicación. No obstante, las modificaciones que afecten a nuevas funciones de
                    un Servicio o los cambios que se hagan por cuestiones legales entrarán en 
                    vigor de forma inmediata. Si no aceptas las condiciones modificadas de un 
                    Servicio, deberás dejar de usar dicho Servicio.
                </p>
                    <h3>Cómo modificar y cancelar nuestros Servicios</h3>
                    <p>Google cambia y mejora sus Servicios constantemente. Por ello, es posible que
                    añadamos o eliminemos algunas funciones o características, o que suspendamos o 
                    cancelemos un Servicio por completo.
                    Puedes dejar de usar los Servicios en cualquier momento, aunque lamentaríamos 
                    que así fuera. De igual modo, Google puede dejar de proporcionarte los Servicios
                    o añadir o crear nuevas limitaciones en cualquier momento.
                    Consideramos que eres el propietario de tus datos y que es importante preservar 
                    tu acceso a los mismos. Si interrumpimos un Servicio, en los casos en los que 
                    sea razonable, te informaremos con suficiente antelación y te permitiremos 
                    extraer la información del Servicio.
                </p>
                    <h3>Tu contenido en nuestros Servicios</h3>
                    <p>Algunos de nuestros servicios te permiten enviar contenido. Si lo haces, 
                        seguirás siendo el titular de los derechos de propiedad intelectual que 
                        tengas sobre ese contenido. En pocas palabras, lo que te pertenece, tuyo es.
                        Al subir contenido o al enviarlo por otros medios a nuestros Servicios, 
                        concedes a Google (y a sus colaboradores) una licencia mundial para usar, 
                        alojar, almacenar, reproducir, modificar, crear obras derivadas 
                        (por ejemplo, las que resulten de la traducción, la adaptación u otros 
                        cambios que realicemos para que tu contenido se adapte mejor a nuestros 
                        Servicios), comunicar, publicar, ejecutar o mostrar públicamente y distribuir 
                        dicho contenido. Google usará los derechos que le confiere esta licencia 
                        únicamente con el fin de proporcionar, promocionar y mejorar los Servicios y 
                        de desarrollar servicios nuevos. Esta licencia seguirá vigente incluso cuando 
                        dejes de usar nuestros Servicios (por ejemplo, en el caso de una ficha de 
                        empresa que hayas añadido a Google Maps). Algunos Servicios te permiten 
                        acceder al contenido que hayas proporcionado y eliminarlo.
                    </p>
            </div>
            
        </div>
    </div>
    <script src="../js/validacion.js"></script>
    <script src="js/print.min.js"></script>

    <style>
        @import url('http://fonts.cdnfonts.com/css/product-sans');
    </style>
</body>
</html>